
:root{
    --border: solid white 9px;
    --back:hsl(51, 100%, 69%);
    --text-color:  hsl(320 100% 38%);
    /* hsl(233, 67%, 14%); */
    --linear:linear-gradient(hsl(51, 100%, 69%), hsl(191, 97%, 36%));
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5;	
 /* caret-color:#9dbedc; */
 cursor:grab;
 background:var(--back);
 color: var(--text-color);
 width:100vw;
 height:100vh;
 font-family: 'Bangers', cursive;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    margin: 0;
}

label, input{
    padding:1vh;
}

button{
    width: 6.5rem;
    height: 6.5rem;
    background:#9dbedc;
    border-radius:50%;
    border:#9dbedc solid  1px;
    color: #191818;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'Bangers', cursive;
}

button:hover {
    transform:translateY(2%);
    color: hsl(51, 100%, 89%);

}

.landing, .gif-joke-page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top: 20vh;
}


.logo{
    width:10vw;
    margin:0px;
}

.logo:hover {
    transform:translateY(2%);
}

.logo-home{
    width:35vw;
}

.nav{
    height:10vh;
    width:100vw;
    /* border:var(--border); */
}

.button-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:20vw;
    
    
}

.gif-container {
    /* box-shadow: 2px 2px 2px 2px  pink; */
    display:flex;
    justify-content: center;
    width:50vw;
    max-height: 80vh;
    max-width: 80vw;
    margin-bottom: 2rem;
    
    
    /* border : var(--border); */
}

#search-bar {
    background:#ff617a;
    border: #ff617a solid 3px;
    color: hsl(51, 100%, 89%);
    border-radius:10px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /*playing with loader visibility*/
    visibility: visible;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.joke-container {
    display: flex;
    height: auto;
    width: 15em;
    text-align: center;
    margin-bottom: 0.5rem;
    /* border : var(--border); */
}

.search-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 19vw;
    align-items: center;
    margin-bottom: 6rem;
    justify-content: center;
}

.hidden {
    display: none;

}

img{
    display:flex;
    justify-content: center;
    align-items:center;
    max-height: 80vh;
    max-width: 80vw;
}


@media all and (max-width:800px){
   button{
       margin:1em;
       min-width:6.5rem;
       min-height:6.5rem;
   } 
   label{
       text-align:center;
   }
   nav{
    display:flex;
    justify-content: center;
    align-items:center;

   }
   .logo{
   margin-top:25rem;
    width:60vw;
    margin:0px;
}
.logo-home{
    width:50vw;
    
}

.landing, .gif-joke-page {

    margin-top: 10vh;
}
}


