
:root{
    --border: solid white 9px;
    --back:hsl(229, 27%, 8%);
    --text-color: #9dbedc;
    --linear:linear-gradient(hsl(233, 67%, 14%), hsl(191, 67%, 46%));
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width:6vw;
    height:10vh;
    background: var(--linear);
    border-radius:50%;
}
.landing, .gif-joke-page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top: 20vh;
}
body{
    background:var(--back);
    color: var(--text-color);
    width:100vw;
    height:100vh;

}
button {
    cursor: pointer;
}

.gif-container {
    /* box-shadow: 2px 2px 2px 2px  pink; */
    display:flex;
    justify-content: center;
    width:50vw;
    max-height: 80vh;
    max-width: 80vw;
    margin-bottom: 2rem;
    /* border : var(--border); */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /*playing with loader visibility*/
    visibility: visible;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.joke-container {
    display: flex;
    max-height: 20vh;
    max-width: 20vw;
    text-align: center;
    margin-bottom: 0.5rem;
    /* border : var(--border); */
    font-family: 'Nunito Sans', sans-serif;
}

.search-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 19vw;
    align-items: center;
}

.hidden {
    display: none;

}