body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing, .gif-joke-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

button {
    cursor: pointer;
}

.gif-container {
    display:flex;
    justify-content: center;
    max-height: 40vh;
    max-width: 50vw;
    margin-bottom: 2rem;
}

.joke-container {
    display: flex;
    max-height: 20vh;
    max-width: 60vw;
    text-align: center;
    margin-bottom: 0.5rem;
}

.search-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 19vw;
    align-items: center;
}

.hidden {
    display: none;
}